<!DOCTYPE html>
<link href="/style.css" rel="stylesheet" type="text/css" />
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>URl Shortener</title>
	</head>
	<body>
		<div class="container-title">
			<h1>URL Shortener</h1>
		</div>

		<form action="/shortUrls" method="POST" class="container-input">
			<input
				required
				name="fullUrl"
				type="text"
				class="form-control input-url"
				placeholder="Input the Url to be shortened here"
			/>
			<button type="submit" class="btn-shorten">Shorten it!</button>
		</form>

		<div class="container-table">
			<table>
				<thead>
					<tr>
						<th>Original URL</th>
						<th>Shortened URL</th>
					</tr>
				</thead>
				<tbody>
					<% URL.forEach(url => {%>
					<tr>
						<td><a href="<%= url.originalURL %>"><%= url.originalURL %></a></td>
						<td>
							<a href="<%= url.shortURL %>" target="”_blank”"
								><%= url.shortURL %></a
							>
						</td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</body>
</html>
